bin/*
build/*
Debug/*
lib/*
Release/*
.vs/*
.vscode/*
x64/*
*.log
*.sln
*vcxproj*
notes/ideas.txt notes/scratch.txt notes/xml-layouts.xml
config/components
notes/ideas.txt notes/scratch.txt notes/xml-layouts.xml
notes
